.DS_Store
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
Temporary Items
Thumbs.db

*.xcuserstate
.build/
build/*
*.pbxuser
*.xcworkspace
xcuserdata

Releases/*
profile
*.moved-aside
